.idea/
database*
**/node_modules
wp-content/uploads/*
wp-content/upgrade/*
wp-content/plugins/*
!wp-content/plugins/cf7-partial-submissions
!wp-content/plugins/cf7-submissions
!wp-content/plugins/cornerstone-posts-dashboard
!wp-content/plugins/customer-inquiries-area
!wp-content/plugins/mm-external-link-fixer
!wp-content/plugins/mm-mailto-fallback-share
!wp-content/plugins/mm-openai-chat
!wp-content/plugins/openai-internal-linking-recommender
!wp-content/plugins/openai-related-content-recommender
!wp-content/plugins/unregistered-users
wp-content/mu-plugins/*
!wp-content/mu-plugins/mu-init.php
!wp-content/mu-plugins/noindex-login.php
!wp-content/mu-plugins/non-production.php
wp-content/themes/metro/dist/*
wp-content/wflogs/*
wp-content/advanced-cache.php
wp-content/wp-rocket-config
wp-content/cache
wp-content/ai1wm-backups
vendor/*
* copy*
.env
*/debug.log
dump.zip
uploads.zip
